@model TestApp.Models.Grad

@{
    ViewData["Title"] = "PokaziSveStanovnikeUnutarGrada";
}

<h1>Poruka: @ViewData["TempData"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ime stanovnika
            </th>
            <th>
                Prezime Stanovnika
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stanovnici) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeStanovnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrezimeStanovnika)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
